html, body {
  margin:0;
  padding:0;
  height:100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#header {
  padding:10px;
}

#content {
  overflow: auto;
  padding: 10px;
  padding-bottom: 80px;
}

p{
    line-height: 24px;
}

.container-narrow{
  margin: 20px auto;
  max-width: 700px;
}

.container-narrow > hr{
  margin: 20px 0;
}

#footer{
  width:100%;
  height:80px;
  position: relative;
  margin-top: -80px;
  height: 80px;
  padding-top: 20px;
  text-align: center;
}

.thumbnail{
  text-align: center;
}

#projects{
  padding-bottom: 50px
}

.projects h4{
  margin-botton: 0
}

.projects h6{
  margin-top: 0
}

.button-row{
  text-align: center;
  margin: lem;
}

.words-row{
  text-align: center;
  text-transform: capitalize;
}

