# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:8.12

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/apaettie_backup

    steps:
      - checkout

      - run:
          command: |
            sudo apt-get install python-dev python-pip
            sudo pip install awscli

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
#      - run: npm test
      - run: yarn build

      - deploy:
           name: Deploy to S3 (test if not master branch)
           command: |
             if [ "${CIRCLE_BRANCH}" == "master" ]; then
               echo "=====  Deploying MASTER to PROD  ====="
               mkdir build/projects
               mv build/projects.html build/projects/index.html
               mkdir build/resume
               mv build/resume.html build/resume/index.html
               aws s3 sync build s3://andrewpaettie.com --delete --acl public-read --cache-control max-age=604800
               aws configure set preview.cloudfront true
               aws cloudfront create-invalidation --distribution-id=E1TCY90NW8U3BV --paths \
                /asset-manifest.json \
                /manifest.json \
                /robots.txt \
                /favicon.ico \
                /service-worker.js \
                /200.html \
                /index.html \
                /img/flappy.jpg \
                /img/react-logo.svg \
                /img/ml-stats.png \
                /img/pdf.png \
                /img/loan-amortization.png \
                /img/ctf.png \
                /img/heli-game.png \
                /img/ai-brain.jpg \
                /img/andrew-paettie-having-fun.jpg \
                /img/Mars-moo.png \
                /img/this-site.png \
                /projects/index.html \
                /resume/index.html \
                /static/resume/resume-Andrew-Paettie.docx \
                /static/resume/resume-Andrew-Paettie.pdf
             else
               echo "=====  Deploying ${CIRCLE_BRANCH} to TEST  ====="
               aws s3 sync build s3://andrewpaettie.test.com --delete --acl public-read
             fi